.title{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    text-align: center;
}

.liste{
    padding: 10px;
    margin: 0px 100px;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

